/* Общие стили */
body {
  padding-top: 70px; /* подстрой под высоту твоей navbar */
  background-color: #1d4a74;
  font-family: "Outfit";
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("img/background.png") no-repeat center center;
  background-size: cover;
  opacity: 0.05;
  z-index: 0;
  pointer-events: none;
}

/* Навигация */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0 20px;
  box-sizing: border-box;

  position: fixed; /* Держит navbar всегда наверху */
  top: 0; /* Прилепляет к самому верху */
  width: 100%; /* На всю ширину экрана */
  z-index: 1000; /* Чтобы не прятался под другим контентом */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Опционально — небольшая тень */
}

.logo img {
  width: 150px;
  height: auto;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #14b2e2;
}

/* Главный блок */
.hero {
  margin: 0 20px;
  padding: 10px 20px;
}

.hero h1 {
  font-size: 55px;
  font-weight: 600;
}

.hero p {
  font-size: 25px;
  font-weight: 100;
  color: white;
}

body {
  margin: 0; /* Убираем стандартные отступы от краев страницы */
  padding: 0;
}

.centered-text {
  text-align: center; /* Выравнивает по центру */
  font-size: 150px; /* Размер шрифта для Vini, Vidi, Fixi */
  font-family: "Arial", sans-serif; /* Обычный шрифт */
  font-weight: bold; /* Делаем текст жирным */
  text-transform: uppercase; /* Преобразуем все буквы в верхний регистр */
  margin-top: 200px; /* Добавляем отступ сверху */
  margin-bottom: 25px; /* Добавляем отступ снизу */
}

.larger-text {
  text-align: center; /* Выравнивает по центру */
  font-size: 200px; /* Увеличиваем размер шрифта для We came... */
  font-family: "Arial", sans-serif; /* Обычный шрифт */
  font-weight: normal; /* Без жирности для второго текста */
  text-transform: none; /* Оставляем текст в обычном регистре */
  margin-top: 30px; /* Добавляем отступ сверху */
  margin-bottom: 50px; /* Добавляем отступ снизу */
}

.callnow-button {
  background-color: #14b2e2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.callnow-button:hover {
  background-color: #1191a8;
}

h1 {
  color: white;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0;
}

/* Параллакс блок */
.parallax-transition {
  background-image: linear-gradient(rgba(0, 0, 0, 0.067), rgba(0, 0, 0, 0.007)),
    url("img/commercial.jpg");
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}

.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  padding: 20px;
  width: 50%;
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
}

/* Карточки */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #0a152f;
  color: white;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  cursor: pointer;
}

.card:hover {
  background-color: #14294f; /* новый цвет при наведении */
  box-shadow: 0 10px 20px rgba(20, 40, 80, 0.7); /* тень при наведении */
  transform: scale(1.05); /* увеличиваем размер */
}

/* Список услуг */
.services-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  color: white;
}

.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.service-item i {
  color: #0a152f;
  margin-right: 10px;
  font-size: 1.2em;
}

.service-item p {
  margin: 0;
}

/* Галарея */
.carousel {
  position: relative;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.carousel-images img {
  width: 100%;
  display: none;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
}

.carousel-button.prev {
  left: 0;
}

.carousel-button.next {
  right: 0;
}

/* Prices */

.toggle-title {
  display: block;
  cursor: pointer;
  font-size: 1.5em;
  margin: 20px auto;
  background-color: black;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  text-align: center;
}

.toggle-title:hover {
  background-color: #ddd;
}

#price-content.hidden {
  display: none;
}

/* Описание и контент */
.content h1 {
  font-size: 45px;
  font-weight: 500;
  margin: 20px;
}

.content-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content-text {
  font-size: 18px;
  line-height: 1.6;
  color: white !important;
  text-align: left;
}

.job-times {
  font-size: 13px;
  line-height: 1.5;
  color: white; /* если нужен белый цвет */
  opacity: 0.85; /* слегка приглушённый */
}

.about-text h3,
.about-text h2 {
  font-size: 25px;
  font-weight: 500;
}

.about-text p {
  text-align: center;
}

/* Контакты */
#contact {
  text-align: center;
  color: white;
}

.contact-buttons-wrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.contact-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
  margin-bottom: 100px;
  background-color: #1e1e1e;
  color: #f0f0f0;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #2b2b2b;
}

.contact-button i {
  font-size: 18px;
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
}

/* Адаптивность */
@media (max-width: 1024px) {
  .hero h1 {
    font-size: 40px;
  }

  .hero p {
    font-size: 18px;
  }

  .callnow-button {
    font-size: 14px;
    padding: 10px 15px;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-links a {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 14px;
  }

  .callnow-button {
    font-size: 12px;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-buttons-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .map-container {
    padding: 40px 20px;
    text-align: center;
  }

  .map-wrapper {
    max-width: 600px;
    margin: 0 auto;
    aspect-ratio: 1 / 1; /* Квадратная форма */
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }

  .map-wrapper iframe {
    width: 100%;
    height: 100%;
    display: block;
  }

  .contact-buttons-wrapper {
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px; /* Отступ сверху */
  }
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-links a {
    margin: 5px 0;
  }

  .content h1 {
    font-size: 30px;
  }

  .about-card {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }

  .hero p {
    font-size: 12px;
  }

  .callnow-button {
    font-size: 10px;
    padding: 8px 10px;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-links a {
    font-size: 16px;
    margin-top: 5px;
  }

  .contact-button {
    font-size: 14px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  position: relative;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.review-buttons-wrapper {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 100px;
  gap: 15px;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.review-button {
  background-color: #0052cc; /* основной цвет сайта */
  color: white;
  font-family: "Arial", sans-serif; /* шрифт сайта */
  font-weight: 600;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px; /* расстояние между иконкой и текстом */
  transition: background-color 0.3s ease;
}

.review-button i {
  font-size: 20px;
  line-height: 1;
  color: white;
}

.review-button:hover {
  background-color: #003d99; /* темнее при наведении */
  color: white;
  text-decoration: none;
}
